
<section class="home" id="home">
    <div class="home-content">
        <h3>Hello, I am </h3>
        <h1>Jai Ganesh</h1>
        <h3>And I'am a <span>FullStack Developer</span></h3>
        <p></p>
        <div class="social-media">
            <a class="btn" href="https://join.skype.com/invite/xz8CGPA1J7A5"><i class='bx bxl-skype'></i></a>
            <a class="btn" href="https://www.linkedin.com/in/jai-ganesh-b-631394235"><i class='bx bxl-linkedin' ></i></a>
            <a class="btn" href="https://github.com/jaiganesh707"><i class='bx bxl-github' ></i></a>
            <a class="btn" href="https://twitter.com/JaiGaneshb9521?t=Nednf64UN15M0N8rOpoTiA&s=08"><i class='bx bxl-twitter' ></i></a>
        </div>
        <a class="btn cvbutton" href = "mailto:jaiganeshjkm@gmail.com">Contact Me</a>
    </div>

    <div class="home-img ">

        <img src="assets/image/picture.jpg" alt=""  class="rounded-circle border border-3 border-info p-1" style="margin-left: 80px; height: 290px; width: 250px;">

    </div> 

</section>