
<header class="header">
  <a href="#" class="logo">Portfolio</a>
  <i class='bx bx-menu' id="menu-icon"></i>
  <nav class="navbar">
    <a class="btn active" routerLink="portfolio-home" routerLinkActive="active">Home</a>
    <a class="btn" routerLink="portfolio-about" routerLinkActive="active">About</a>
    <a class="btn" routerLink="portfolio-service" routerLinkActive="active">Skills</a>
    <a class="btn" routerLink="portfolio-projects" routerLinkActive="active">Projets</a>
    <a class="btn" routerLink="portfolio-contact" routerLinkActive="active">Contact</a>
  </nav>
</header> 
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-text">
    <p>Copyright &copy; 2023 by Chola | All Rights Reserved</p>
  </div>
 
</footer>