<section class="Services" id="Services">
    <h2 class="heading">Our <span>Skills</span></h2>

    <div class="services-container" style="margin-top: 80px;">
        <div class="services-box">
            <i class='bx bxl-angular'></i>
            <h2>FrontEnd Development</h2>
            <p>I Have a good knowledge in HTML and CSS and BOOTSTRAP and Typescript is one of the most important
                 Angular developer skills. Angular provides the building blocks that allow the to build fast and functional apps. </p>
        </div>
        <div class="services-box">
            <i class='bx bxl-spring-boot'></i>
            <h2>BackEnd Development</h2>
            <p>I have a good knowledge in Springboot SpringData SpringJpa and 
                Encapsulation, abstraction, inheritance, polymorphism, user-defined types, predefined types and java good knowledge there.</p>
        </div>
        <div class="services-box">
            <i class='bx bx-data' ></i>
            <h2>DataBase</h2>
            <p>I have a good knowledge in DataBase Mysql and Sql to perform the MysqlWorkbench and DDL,DML,DCL,TCL to perform the Insert 
                Get Update Delete to Performed an good knowledge there.</p>
        </div>
    </div>
    <br><br>
</section>