/* You can add global styles to this file, and also import other style files */

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background:  #1f242d;
    color: white;
}


@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}



