   <section class="portfolio" id="portfolio">
   <h2 class="heading">Latest <span>Project</span></h2>

    <div class="portfolio-container">
        <div class="portfolio-box">
            <img src="assets/image/frontend1.jpg" alt="">
            <div class="portfolio-layer">
                <h4 style="color: black;">Calculator</h4>
                <p>Angular Calculator Logic. Every time user click on a number or operand, we append it to the input variable. Every time user click on a number or operand, we append it to the input variable.</p>
                <a href="https://github.com/jaiganesh707/mathcalculater.git"><i class='bx bx-git-branch'></i></a>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="assets/image/frontend5.jpg" alt="" >
            <div class="portfolio-layer">
                <h4 style="color: black;">College Billing System</h4>
                <p>To create a basic student record management system app in which a school admin can do the following Create,Update,Read,Delete Backend to Perform and Login to used Admin In this Project.</p>
                <a href=""><i class='bx bx-git-branch'></i></a>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="assets/image/frondend4.png" alt="">
            <div class="portfolio-layer">
                <h4 style="color: black;">Area Of Values</h4>
                <p>Angular Calculator Logic. Every time user click on a number or operand, we append it to the input variable.Triangle,Rctangle,Square and Circle to Perform Angular Projects Bhilted.</p>
                <a href="https://github.com/jaiganesh707/Area-of-value.git"><i class='bx bx-git-branch'></i></a>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="assets/image/backend1.jpg" alt="">
            <div class="portfolio-layer">
                <h4 style="color: black;">Customer Data</h4>
                <p>This guide walks you through the process of building an application that uses Spring Data JPA to store and retrieve data in a relational database. And Safe To Store the Customer Datas</p>
                <a href="https://github.com/jaiganesh707/CustomerDataStore.git"><i class='bx bx-git-branch'></i></a>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="assets/image/backend2.jpg" alt="">
            <div class="portfolio-layer">
                <h4 style="color: black;">Ticket Booking</h4>
                <p>A movie ticket booking system created using Spring Boot, Spring Data JPA/MySQL, Hibernate to Perform To create the Back end Project To Safe and Secure Crud To Perform Develop Project.</p>
                <a href="https://github.com/jaiganesh707/Movieticket-Management.git"><i class='bx bx-git-branch'></i></a>
            </div>
        </div>
        <div class="portfolio-box">
            <img src="assets/image/backend3.jpg" alt="">
            <div class="portfolio-layer">
                <h4 style="color: black;">Products Billing</h4>
                <p>This project will serve the following objectives Add and maintain records of available products. Add and maintain customer details. Add and maintain description of new products. Springboot Crud Performed. </p>
                <a href="https://github.com/jaiganesh707/ProductSellingBill.git"><i class='bx bx-git-branch'></i></a>
            </div>
        </div>
    </div>

</section>