<section class="about" id="about">
    <div class="about-img">
        <img src="assets/image/picture.jpg" alt=""  class="rounded-circle border border-3 border-info p-1" style="height: 290px; width: 250px;" >
    </div> 


    <div class=about-content>
        <h2 class="heading">About <span>Me</span></h2>
        <h3>FullStack Developer</h3>
        <p>As a fresher with a zest for coding adventures, I'm on the lookout for an exciting FullStack Developer role. In the backend realm, I navigate the Java and Spring Boot waters, dance with MySQL, and on the frontend stage, I weave my magic with HTML, CSS, JavaScript, Angular, and Bootstrap. My work isn't just a job; it's a passion that fuels my relentless work ethic. For your convenience, my resume is attached — a sneak peek into the coding universe I've explored. Ready for a journey of innovation and collaboration </p>
        <a class="btn cvbutton" href="https://drive.google.com/file/d/1SsQUKOJOL6XWSGbwi18-My6GHM2B8mO8/view?usp=drivesdk">Download CV</a>
    
    </div>
    <br><br>
</section>
